html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #1b1b1b;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  padding: 0;
}

header {
  padding: 20px 0 30px 0;
}
header .header__phone {
  float: right;
}
header .header__phone a {
  font-size: 30px;
  font-weight: 700;
  color: #1b1b1b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .header__phone a:hover {
  text-decoration: none;
  opacity: 0.5;
}

.header__img {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 140px 0 0px 0;
  color: #fff;
  position: relative;
}
.header__img h1 {
  font-weight: 700;
  font-size: 47px;
  line-height: 80px;
}
.header__img .special__offer {
  margin-top: 130px;
  border-top: 1px solid #f3d428;
  border-bottom: 1px solid #f3d428;
  padding: 30px 100px;
}
.header__img .special__offer p {
  font-size: 30px;
}
.header__img .arrow__next {
  display: block;
  max-width: 89px;
  margin: 0 auto;
  margin-top: 160px;
  position: relative;
  bottom: -60px;
}

.calculation {
  padding: 160px 0 50px 0;
}
.calculation h2 {
  font-size: 24px;
  position: relative;
}
.calculation h2::before {
  content: '';
  display: block;
  background-image: url(../img/heading-line.png);
  width: 335px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -150px;
}
.calculation form {
  margin-top: 70px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calculation .form-group h2::before {
  display: none;
}
.calculation .form-group h2 span {
  color: #f1cd04;
}
.calculation .form-group p {
  font-size: 20px;
}
.calculation .form-group .form__kitchen {
  margin-top: 32px;
  position: relative;
}
.calculation .form-group .variant {
  display: inline-block;
  position: relative;
  width: 130px;
  margin-right: 55px;
}
.calculation .form-group .variant input[type=checkbox] {
  display: none;
  outline: none;
}
.calculation .form-group .variant input[type=checkbox]:checked + label {
  background-image: url(../img/cheked.png);
  width: 26px;
  height: 17px;
}
.calculation .form-group .variant label {
  display: block;
  width: 26px;
  height: 17px;
  background-color: #b88361;
  margin-bottom: 25px;
  cursor: pointer;
}
.calculation .form-group .variant:first-child {
  top: -40px;
}
.calculation .form-group .material__selection {
  width: 265px;
  height: 209px;
  background-color: #3c2831;
  border: 15px solid #f1cd04;
  margin-top: 30px;
  padding: 15px 19px 31px 19px;
  position: relative;
}
.calculation .form-group .material__selection .material {
  margin-bottom: 5px;
}
.calculation .form-group .material__selection .material span {
  display: inline-block;
  color: #f1cd04;
  font-size: 18px;
  text-transform: uppercase;
}
.calculation .form-group .material__selection .material input[type=checkbox] {
  display: none;
  outline: none;
}
.calculation .form-group .material__selection .material input[type=checkbox]:checked + label {
  background-image: url(../img/cheked.png);
  width: 26px;
  height: 17px;
}
.calculation .form-group .material__selection .material label {
  display: inline-block;
  width: 26px;
  height: 17px;
  background-color: #b88361;
  float: right;
  cursor: pointer;
}
.calculation .form-group .img__upload {
  margin-top: 36px;
}
.calculation .form-group .img__upload input[type="file"] {
  display: none;
}
.calculation .form-group .img__upload input[type="tel"] {
  max-width: 342px;
  width: 100%;
  height: 68px;
  border: 1px solid #d5d5d5;
  background-color: #f9f8f8;
  outline: none;
  margin-left: 50px;
  text-align: center;
  color: #525252;
  font-size: 16px;
}
.calculation .form-group .img__upload input[type="tel"]::-webkit-input-placeholder {
  color: #525252;
  font-size: 16px;
}
.calculation .form-group .img__upload .img {
  display: inline-block;
  max-width: 342px;
  width: 100%;
  height: 68px;
  border: 1px solid #d5d5d5;
  background-color: #f9f8f8;
  text-align: center;
  float: left;
  padding-top: 10px;
}
.calculation .form-group .img__upload .img label {
  font-size: 15px;
  font-weight: 300;
  color: #525252;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.calculation .form-group .img__upload .img label:hover {
  color: #000;
}
.calculation .form-group .img__upload button {
  max-width: 342px;
  width: 100%;
  height: 68px;
  border: 1px solid #b88361;
  background-color: #3c2831;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #f1cd04;
  margin-left: 58px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.calculation .form-group .img__upload button:hover {
  background-color: #583947;
}
.calculation .form-group .img__upload .agreement {
  text-align: right;
  margin-top: 31px;
}
.calculation .form-group .img__upload .agreement a {
  font-size: 16px;
  font-weight: 300;
  color: #373737;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.calculation .form-group .img__upload p {
  max-width: 778px;
  width: 100%;
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
  font-weight: 300;
  color: #373737;
  font-size: 18px;
}

.why__designer {
  background-image: url(../img/designer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 81px 0 105px 0;
  min-height: 1000px;
  position: relative;
}
.why__designer .frame {
  background-image: url(../img/frame.png);
  background-repeat: no-repeat;
  background-position: center 30px;
}
.why__designer h2 {
  font-size: 24px;
  color: #fff;
}
.why__designer h2::before {
  content: '';
  display: block;
  background-image: url(../img/heading-line-light.png);
  width: 335px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -150px;
}
.why__designer .cause {
  margin-top: 90px;
}
.why__designer .cause p {
  font-size: 18px;
  color: #fff;
  margin-top: 25px;
}
.why__designer .cause__down {
  margin-top: 170px;
}
.why__designer form h2 {
  font-size: 24px;
  color: #fff;
  max-width: 620px;
  margin: 0 auto;
  line-height: 40px;
  margin-bottom: 50px;
}
.why__designer form h2::before {
  display: none;
}
.why__designer form input {
  max-width: 342px;
  width: 100%;
  height: 68px;
  border: 1px solid #d5d5d5;
  background-color: #f9f8f8;
  outline: none;
  text-align: center;
  color: #525252;
  font-size: 16px;
}
.why__designer form input::-webkit-input-placeholder {
  color: #525252;
  font-size: 16px;
}
.why__designer form button {
  max-width: 342px;
  width: 100%;
  height: 68px;
  border: 1px solid #b88361;
  background-color: #3c2831;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #f1cd04;
  margin-left: 58px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.why__designer form button:hover {
  background-color: #583947;
}
.why__designer form .agreement {
  display: block;
  margin-top: 35px;
}
.why__designer form a {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 35px;
}

.form {
  background-color: #f1cd04;
  padding: 75px 0 35px 0;
}
.form h2 {
  font-size: 24px;
}
.form h2::before {
  content: '';
  display: block;
  background-image: url(../img/heading-line-form.png);
  width: 335px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -170px;
}
.form form {
  margin-top: 70px;
}
.form form p {
  font-size: 20px;
  margin: 0 auto;
  max-width: 630px;
  margin-bottom: 40px;
}
.form form input {
  max-width: 342px;
  width: 100%;
  height: 68px;
  border: 1px solid #d5d5d5;
  background-color: #f9f8f8;
  outline: none;
  text-align: center;
  color: #525252;
  font-size: 16px;
}
.form form input::-webkit-input-placeholder {
  color: #525252;
  font-size: 16px;
}
.form form button {
  max-width: 342px;
  width: 100%;
  height: 68px;
  border: 1px solid #b88361;
  background-color: #3c2831;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #f1cd04;
  margin-left: 58px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form form button:hover {
  background-color: #583947;
}
.form form .agreement {
  display: block;
  margin-top: 35px;
}
.form form a {
  font-size: 16px;
  font-weight: 300;
  color: #373737;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 25px;
}

.of__what {
  padding: 60px 0 30px 0;
}
.of__what h2 {
  font-size: 24px;
}
.of__what h2::before {
  content: '';
  display: block;
  background-image: url(../img/heading-line.png);
  width: 335px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -170px;
}
.of__what p {
  margin-top: 70px;
  font-size: 20px;
  color: #353737;
}
.of__what p img {
  margin: 0 20px;
}
.of__what .structure {
  margin-top: 115px;
}
.of__what .structure img {
  max-width: 447px;
  width: 100%;
  margin: 0;
}
.of__what ul {
  list-style: none;
  margin-top: 90px;
}
.of__what ul li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 18px;
  color: #353737;
}
.of__what ul li img {
  margin-right: 30px;
}
.of__what ul .move__out {
  margin-left: 100px;
}

.facade {
  padding: 40px 0 105px 0;
  background-image: url(../img/facade-bg.png);
  background-repeat: repeat-y;
  background-position: center;
}
.facade .facade__box {
  max-width: 368px;
  width: 100%;
  height: 325px;
  -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.75);
  background-color: #3c2831;
  margin-top: 50px;
  padding: 19px 19px 0 19px;
  position: relative;
}
.facade .facade__box img {
  width: 100%;
}
.facade .facade__box p {
  color: #f1cd04;
  font-size: 16px;
  margin-top: 13px;
}

.furnitura {
  padding-bottom: 80px;
}
.furnitura .furnitura__info {
  border: 1px solid #b4b4b4;
  padding-bottom: 60px;
  position: relative;
  top: -30px;
}
.furnitura .furnitura__info .yellow__box {
  background-color: #f1cd04;
  padding: 32px 0;
}
.furnitura .furnitura__info .yellow__box p {
  color: #353737;
  font-size: 20px;
  max-width: 686px;
  margin: 0 auto;
}
.furnitura .furnitura__info ul {
  list-style: none;
  padding: 37px 0 0 120px;
}
.furnitura .furnitura__info ul li {
  display: inline-block;
  margin-left: 140px;
}
.furnitura .furnitura__info ul li:first-child {
  margin-left: 0;
}
.furnitura .furnitura__info ul li img {
  max-width: 500px;
  width: 100%;
}

.portfolio {
  background-image: url(../img/portfolio-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px 0 85px 0;
}
.portfolio h2 {
  font-size: 24px;
  color: #fff;
}
.portfolio h2::before {
  content: '';
  display: block;
  background-image: url(../img/heading-line-light.png);
  width: 335px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -170px;
}
.portfolio .popupimg {
  display: block;
  max-width: 270px;
  width: 100%;
  height: 228px;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  outline: none;
}
.portfolio .popupimg img {
  width: 100%;
}
.portfolio .gallery__hide {
  display: none;
}

.show__more {
  padding: 45px 0 40px 0;
}
.show__more .open__more {
  text-align: center;
  background: none;
  border: none;
  color: #2e2e2e;
  font-size: 24px;
  border-bottom: 1px solid #f1cd04;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}
.show__more .open__more:hover {
  opacity: 0.5;
  text-decoration: none;
}
.show__more form {
  margin-top: 50px;
}
.show__more form input {
  max-width: 342px;
  width: 100%;
  height: 68px;
  border: 1px solid #d5d5d5;
  background-color: #f9f8f8;
  outline: none;
  text-align: center;
  color: #525252;
  font-size: 16px;
}
.show__more form input::-webkit-input-placeholder {
  color: #525252;
  font-size: 16px;
}
.show__more form button {
  max-width: 342px;
  width: 100%;
  height: 68px;
  border: 1px solid #b88361;
  background-color: #3c2831;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #f1cd04;
  margin-left: 58px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.show__more form button:hover {
  background-color: #583947;
}
.show__more form .agreement {
  display: block;
  margin-top: 35px;
}
.show__more form .agreement a {
  font-size: 16px;
  font-weight: 300;
  color: #373737;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 35px;
}

.gift {
  padding-bottom: 85px;
}
.gift .gift__info {
  border: 1px solid #bfbebe;
  padding-bottom: 90px;
}
.gift .gift__info .yellow__box {
  background-color: #f1cd04;
  padding: 32px 0;
}
.gift .gift__info .yellow__box p {
  color: #353737;
  font-size: 20px;
  max-width: 570px;
  margin: 0 auto;
}
.gift .dishwasher {
  max-width: 405px;
  margin-top: 20px;
  margin-left: 100px;
}
.gift .dishwasher img {
  width: 100%;
}
.gift form {
  margin-top: 105px;
  margin-right: 70px;
}
.gift form input {
  margin: 0 auto;
  display: block;
  max-width: 342px;
  width: 100%;
  height: 68px;
  border: 1px solid #d5d5d5;
  background-color: #f9f8f8;
  outline: none;
  text-align: center;
  color: #525252;
  font-size: 16px;
}
.gift form input::-webkit-input-placeholder {
  color: #525252;
  font-size: 16px;
}
.gift form button {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  max-width: 544px;
  width: 100%;
  height: 68px;
  border: 1px solid #b88361;
  background-color: #3c2831;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #f1cd04;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gift form button:hover {
  background-color: #583947;
}
.gift form .agreement {
  display: block;
  margin-top: 30px;
}
.gift form .agreement a {
  font-size: 16px;
  font-weight: 300;
  color: #373737;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 35px;
}
.gift .gift__text {
  margin-top: 25px;
}
.gift .gift__text h3 {
  color: #353737;
  font-size: 20px;
}
.gift .gift__text img {
  max-width: 89px;
  margin-top: 25px;
}
.gift .gift__text p {
  color: #353737;
  font-size: 20px;
  margin-top: 20px;
}

.installment__plan {
  padding: 80px 0 90px 0;
  background-image: url(../img/facade-bg.png);
  background-repeat: repeat-y;
  background-position: center;
}
.installment__plan p {
  font-size: 30px;
  color: #fff;
}
.installment__plan .box__info {
  max-width: 257px;
  -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.75);
  background-color: #3c2831;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px 0 60px 0;
}
.installment__plan .box__info h2 {
  font-size: 24px;
  color: #fff;
}
.installment__plan .box__info span {
  color: #f1cd04;
  font-size: 48px;
}

footer {
  background-color: #3c2831;
  padding: 45px 0 35px 0;
}
footer .footer__menu {
  list-style: none;
}
footer .footer__menu li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
footer .footer__menu li a {
  font-size: 18px;
  color: #f1cd04;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
footer .footer__menu li a:hover {
  text-decoration: none;
  opacity: 0.5;
}
footer .footer__phone {
  text-align: right;
}
footer .footer__phone a {
  font-size: 24px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
footer .footer__phone a:hover {
  text-decoration: none;
  opacity: 0.5;
}
footer .policy {
  margin-top: 85px;
}
footer .policy a {
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 320px) and (max-width: 991px) {
  .header__logo {
    text-align: center;
  }

  header .header__phone {
    float: none;
    text-align: center;
  }

  .header__img h1 {
    font-size: 30px;
    line-height: 50px;
  }

  .header__img .special__offer {
    padding: 30px 0;
    margin-top: 100px;
  }

  .header__img .arrow__next {
    margin-top: 100px;
  }

  .calculation h2::before {
    display: none;
  }

  .calculation .form-group .variant:first-child {
    top: 0;
  }

  .calculation .form-group .variant {
    display: block;
    margin: 0 auto;
  }

  .calculation .form-group .img__upload .img {
    display: block;
    margin: 0 auto;
    float: none;
    text-align: center;
  }

  .calculation .form-group .material__selection {
    margin: 0 auto;
  }

  .calculation .form-group .img__upload input[type="tel"] {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .calculation .form-group .img__upload button {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
  }

  .calculation .form-group .img__upload .agreement {
    text-align: center;
  }

  .form-group {
    text-align: center;
  }

  .why__designer h2 {
    font-size: 23px;
  }

  .why__designer h2::before {
    display: none;
  }

  .why__designer form input {
    display: block;
    margin: 0 auto;
  }

  .why__designer form button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .form h2::before {
    display: none;
  }

  .form form input {
    display: block;
    margin: 0 auto;
  }

  .form form button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .facade .facade__box {
    margin: 0 auto;
    margin-top: 50px;
  }

  .of__what h2::before {
    display: none;
  }

  .of__what p {
    text-align: center;
  }

  .of__what .structure {
    text-align: center;
  }

  .of__what ul .move__out {
    margin-left: 0;
  }

  .of__what ul li img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .of__what ul li {
    text-align: center;
  }

  .furnitura .furnitura__info ul {
    padding: 37px 10px 0 10px;
  }

  .furnitura .furnitura__info ul li {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .portfolio h2::before {
    display: none;
  }

  .show__more form input {
    display: block;
    margin: 0 auto;
  }

  .show__more form button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .gift .dishwasher {
    margin: 0 auto;
    margin-top: 20px;
  }

  .gift form {
    margin-right: 0;
  }

  footer .footer__phone {
    text-align: center;
  }

  footer .footer__menu {
    text-align: center;
  }

  footer .policy {
    margin-top: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .calculation .form-group .variant {
    margin-right: 40px;
  }

  .calculation .form-group .img__upload .img {
    max-width: 300px;
  }

  .calculation .form-group .img__upload input[type="tel"] {
    max-width: 300px;
    margin-left: 15px;
  }

  .calculation .form-group .img__upload button {
    max-width: 300px;
    margin-left: 15px;
  }
}

/*# sourceMappingURL=style.css.map */