@import "../fonts/Geometria/stylesheet.css";
html,body{margin:0;padding:0;font-family: 'Geometria', sans-serif;font-size: 32px;}
body{color:#041130;}
.container{max-width:1920px;width:1920px;padding-left:75px;padding-right:75px;}
.site-header{background:none;padding-top:35px;}
#top-menu{list-style: none;}
#top-menu>li{float:right;}
#top-menu>li>a{font-size:37px;color:#0d1163;text-decoration: none;padding:0 20px 36px;font-weight:bold;}
.first-bg{padding-top:160px;padding-bottom:250px;background:url(../images/bg-top.png) no-repeat left top / cover;margin-top:40px;}
.top-video{height:690px;background:#8098c8;}
.first-bg .caption{font-size:64.76px;font-family: 'Geometria';font-weight:800;color:#FFFFFF;margin-bottom:60px;}
.first-bg .caption span{color:#db6a86;}
.text-right{text-align:right;}
.top-banner-text{padding-top:40px;font-size:34.05px;color:#FFFFFF;padding-left:30px;}
.top-banner-sub-text{font-size:32.42;color:#db6a86;line-height:40.25px;}
.top-banner-button{margin-top:40px;padding:85px 85px 85px 70px;color:#FFFFFF;background:url(../images/bg-button.png) no-repeat left top /cover;font-size:48.11px;font-weight:bold;margin-left:130px;max-width:460px;}
.nopadl{padding-left:0;}
.nopadr{padding-right:0;}
.top-banner-right{padding-right:0;}
.product-caption{font-size:37.47px;font-weight:bold;}
.product-anons{font-size:19.35px;}
.product-slider{padding:0 50px;}
.btn-fast{font-size:42px;font-weight:bold;color:#FFFFFF;background:#d2da27;padding:30px 45px;border-radius:60px;}
.product-text-slide{text-align:center;}
.product-text-block{margin:30px 50px;box-shadow: 0 0 25px rgba(0,0,0,0.3);padding:60px 60px 30px;border-radius: 25%;}
.product-text-block .product-description{margin-top:56px;margin-bottom:60px;font-size:19.35px;color:#8098c8;text-align: center;}
.product-text-block .product-price{font-weight:bold;font-size:42.71px;color:#07076b;}
.btn.add-to-cart{color:#FFFFFF;background:#cd7186;font-size:35px;font-weight:bold;padding:30px 45px;border-radius:60px;text-decoration: none;}
.add-to-cart-button{margin-top:35px;}
.btn.goto{color:#FFFFFF;background:#8098c8;font-size:25px;font-weight:bold;padding:25px 40px;border-radius:40px;text-decoration: none;}
.goto-catalog-button{margin-top:20px;}
div:focus,a:focus,input:focus{outline: none;}
body .slick-prev{width:37px;height:68px;background:url(../images/l-arrow.png) no-repeat left top /contain;opacity:1;z-index:1;}
body .slick-next{width:37px;height:68px;background:url(../images/r-arrow.png) no-repeat left top /contain;opacity:1;}
body .slick-next:before,body .slick-prev:before{display:none;}
body .slick-next:hover,body .slick-next:focus{background:url(../images/r-arrow.png) no-repeat left top /contain;}
body .slick-prev:hover,body .slick-prev:focus{background:url(../images/l-arrow.png) no-repeat left top /contain;}
.video-list .slick-prev{left:-30px;width:30px;}
.video-list .slick-next{right:-30px;width:30px;}
.bg-ping{background:url(../images/bg-ping.png) no-repeat right top / contain;position:relative;height:920px;margin-top:95px;}
.pingvin-text{position:absolute;left:0;width:50%;bottom:0;background:url(../images/bg-blue.png) no-repeat right top /contain;padding:114px 75px 124px;color:#FFFFFF;font-size:30.63px;font-weight:bold;text-align:center;}
.pingvin-text span{color:#07076b;}
.eig-item{padding-left:30px;position:relative;font-size:32.03px;color:#041130;min-height:210px;padding-right:30px;}
.eig-item span{font-weight:bold;}
.eig-item:before{position:absolute;left:0;top:10px;width:20px;height:20px;content:"";background:url(../images/icon-round-green.png) no-repeat left top /contain;}
.eig-item.eig-small{min-height:160px;}
.eig-item.eig-eisy-small{min-height:50px;}
.main-eig{margin-top:60px;}
.main-preim{margin-top:60px;}
.main-preim .caption{font-size:62px;color:#FFFFFF;font-weight:bold;}
.center{text-align:center;}
.bg-preim{background:url(../images/bg-winter.png) no-repeat center top /110%;position:relative;padding-bottom:330px;padding-top:215px;}
.green-med{position:absolute;right:10%;width:25%;height:auto;bottom:-90px;}
.green-med img{width:100%;}
.bg-preim .preim-block{margin-top:150px;padding:0 70px;}
.preim-item{display:inline-block;width:19%;font-size:28.96px;color:#FFFFFF;font-weight:bold;padding:0 15px;}
.preim-item .image{height:174px;background:no-repeat center top /contain;margin-bottom:15px;}
.preim-item-1 .image{background-image:url(../images/preim-1.png)}
.preim-item-2 .image{background-image:url(../images/preim-2.png)}
.preim-item-3 .image{background-image:url(../images/preim-3.png)}
.preim-item-4 .image{background-image:url(../images/preim-4.png)}
.preim-item-5 .image{background-image:url(../images/preim-5.png)}
.video-content{display:none;}
.main-video .caption{font-size:63px;font-weight:bold;}
.main-video{padding:130px 0 190px;}
.main-video .video-list{padding-top:80px;}
.main-video .video-slide{padding-bottom:40px;position:relative;}
.main-video .video-slide:after{content: "";position:absolute;bottom:0;left:0;width:60%;height:2px;background:#d2da27;}
.bg-video-block{position:relative;}
.bg-video-block:before{content:"";position:absolute;left:25%;top:0;width:48px;height:48px;background:url(../images/icon-plus-green-1.png) no-repeat left top /contain;}
.bg-video-block:after{content:"";position:absolute;right:10%;bottom:-120px;width:48px;height:48px;background:url(../images/icon-plus-green-2.png) no-repeat left top /contain;}
.review-text{font-size:20.1px;text-align:center;padding-top:20px;}
.review-autor{margin-top:25px;font-size:23.41px;font-weight:bold;color:#2a2b6a;text-align:center;}
.main-reviews{padding-top:100px;}
.main-reviews .caption{font-size:63px;font-weight:bold;text-align:center;}
.bg-reviews-block{background:url(../images/bg-review.png) no-repeat left top /cover;padding-bottom:400px;padding-top:70px;position: relative;z-index:5;}
.main-reviews .review-list{margin-top:260px;}
.main-reviews .review-slide{background:#FFFFFF;border-radius: 30px;padding:20px 14px 60px;margin:0 20px;}
.main-reviews .review-slide .image{background:no-repeat center center /contain;height:70px;margin:0 auto;}
.add-review-block{position:absolute;right:20%;bottom:200px;width:200px;}
.add-review-block a{font-size:41.34px;font-weight:bold;color:#FFFFFF;text-decoration: none;}
.btn.btn-dark{background:#0d1163;padding:30px 70px;border-radius:60px;}
.bg-faq-block{background:url(../images/bg-monkey.png) no-repeat 160% top;padding-top:450px;padding-bottom:160px;position: relative;margin-top:-140px;z-index:4;}
.bg-monkey{min-height:600px;background:url(../images/monkey.png) no-repeat left bottom;margin-top:300px;}
.faq-caption{width:515px;height:285px;background:url(../images/faq-caption.png) no-repeat left top;margin-bottom:80px;}
.btn-green{font-size:43px;font-weight:bold;color:#FFFFFF;background:#d2da27;padding:30px 45px;border-radius:60px;}
.faq-item{margin-bottom:35px;}
.btn-dark-green{font-size:43px;font-weight:bold;color:#FFFFFF;background:#51af98;padding:30px 45px;border-radius:60px;}
.main-insta .caption{font-size:63px;font-weight:bold;}
.insta-list{margin-top:95px;margin-bottom:60px;}
.insta-button{position:relative;width:30%;margin:68px auto 85px;background:#db6a86;padding:30px 45px;border-radius:60px;text-decoration: none;}
.bg-contact-block{background:url(../images/footer-bg-tree.png) no-repeat left top;padding:200px 0 330px;position:relative;}
.contact-panda{position:absolute;right:10%;bottom:-50px;}
.contact-trava{position:absolute;left:0;bottom:0;}
.contact-image-block{width:90%;height:650px;background:#db6a86;margin:0 auto;}
.bg-contact-block .caption{color:#FFFFFF;font-size:63px;font-weight:bold;padding-bottom:305px;}
.contact-text-block{padding-top:190px;}
.footer-menu-item a{font-size:39px;color:#FFFFFF;font-weight:bold;line-height:60px;}
.bg-footer-block{background:url(../images/footer-bg.png) no-repeat left top /cover;padding:303px 0 115px;}
.soc-items{padding-top:60px;}
.soc-items>div{display:inline-block;width:130px;text-align:center;}
.soc-items .footer-tube {margin-top:20px;}
.footer{margin-top:100px;}
.bg-faq-block:before{content:"";position:absolute;left:25%;top:400px;width:48px;height:48px;background:url(../images/icon-plus-green-1.png) no-repeat left top /contain;}
.bg-faq-block:after{content:"";position:absolute;left:25%;bottom:50px;width:48px;height:48px;background:url(../images/icon-round-green.png) no-repeat left top /contain;}
.faq-content-block{position:relative;}
.faq-content-block:before{content:"";position:absolute;right:20%;top:400px;width:64px;height:64px;background:url(../images/icon-plus-green-2.png) no-repeat left top /contain;}
.btn:hover{background:#2a2b6a !important;color:#FFFFFF !important;}

.woocommerce-breadcrumb{margin-top:93px;border-bottom:none;margin-bottom:2em;}
.woocommerce-breadcrumb a{color:#0d1163;text-decoration: none;box-shadow: none;}
.catalog-title-img{width:30%;margin:20px auto;}
.woocommerce ul.products, .woocommerce-page ul.products{margin-top:70px;}
.woocommerce-loop-product__title{font-size:34px;text-align:center;color:#121f6d;font-weight:normal;text-transform: none !important;}
ul.products li.product .price{text-align:center;font-size:31px;color:#121f6d;font-weight:bold;}
ul.products li.product>a{text-decoration: none;}
ul.products li.product .button,.btn-red,.single_add_to_cart_button{color: #FFFFFF;
  background: #cd7186;
  font-size: 35px;
  font-weight: bold;
  padding: 30px 45px;
  border-radius: 60px;
  text-decoration: none;
  box-shadow: none !important;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{text-align:center;}
.woocommerce-product-gallery__trigger{display:none;}
.product.type-product>.images{opacity:1 !important;}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{margin-top:7em;text-align:right;}
.summary.entry-summary h1{font-size:52px;padding-bottom:70px;padding-left:25%;position:relative;font-weight:400;}
.summary.entry-summary h1:after{content: "";position:absolute;bottom:0;right:0;width:50%;height:2px;background:#d2da27;}
.summary.entry-summary .price{padding-top:70px;font-size:50px;font-weight:bold;}
.summary.entry-summary .quantity{display:none;}
.summary.entry-summary .btn-fast,.summary.entry-summary .add-to-cart{font-size:20px;padding:15px 25px;}
.buttons-block{float:right;text-align:right;}
.buttons-block>div{display:inline-block;margin-left:15px;}
.woocommerce-tabs.wc-tabs-wrapper{padding-left:10%;padding-right:10%;font-size:28px;float:left;margin-top:100px;max-width: 100%;}
.woocommerce-tabs.wc-tabs-wrapper .first-ab{font-size:35px;font-weight:400;}
.woocommerce-tabs.wc-tabs-wrapper h2{font-size:35px;font-weight:bold;}
.woocommerce-tabs.wc-tabs-wrapper p{margin-bottom:20px;}
.local-menu{cursor:pointer;}
.tab-caption-item{display:inline-block;padding:10px 15px;}
.woocommerce-tabs .tab-caption-item>a{padding:20px 30px;border-radius:30px;font-size:30px;background-color:#8088b8;color:#FFFFFF;box-shadow: none;}
.woocommerce-tabs .tab-caption-item>a:hover{background-color:#d2da27;box-shadow: none !important;text-decoration: none;}
#tab-description{display:block !important;margin-top:100px;}
.woocommerce-product-details__short-description{display:none;}
#product-har{margin-top:50px;}
.woocommerce-cart th{font-size:29px;font-weight:400;color:#9199bc;}
.woocommerce-cart thead>tr,tr.woocommerce-cart-form__cart-item.cart_item{border-bottom:2px #9199bc solid;}
.quantity .screen-reader-text{display:none;}
.shop_table.cart.woocommerce-cart-form__contents{width:100%;}
.woocommerce-cart-form td.product-thumbnail{width:30%;}
.woocommerce-shipping-totals.shipping{display:none !important;}
.woocommerce-Price-amount.amount{white-space: nowrap;}
.woocommerce-cart-form .product-name>a{font-size:34px;color:#121f6d;text-decoration: none;}
.woocommerce-cart .site-content-contain{margin-top:100px;}
.woocommerce-cart .woocommerce-cart-form img{max-width:100%;}
.woocommerce-cart .woocommerce-cart-form .quantity input{text-align:center;border-radius:30px;width:80px;outline:none;border: #3a3a3a 1px solid;}
.woocommerce-cart .woocommerce-cart-form .quantity{text-align:center;}
.woocommerce-cart .shop_table.cart .product-name{width:30%;}
.woocommerce-cart .woocommerce-cart-form .product-quantity>div{display:inline-block;vertical-align: top;}
.woocommerce-cart .woocommerce-cart-form .product-quantity .b-minus,.woocommerce-cart .woocommerce-cart-form .product-quantity .b-plus{width:30px;background:no-repeat center center / contain;cursor:pointer;height:40px;}
.woocommerce-cart .woocommerce-cart-form .product-quantity .b-minus{background-image:url(../images/l-arrow.png);}
.woocommerce-cart .woocommerce-cart-form .product-quantity .b-plus{background-image:url(../images/r-arrow.png);}
.woocommerce-cart .coupon{float: none !important;text-align: right;width: 100%;margin: 0 0 0 auto;}
.woocommerce-cart [name=apply_coupon]{display:none;}
.woocommerce-cart .woocommerce-cart-form .actions .input-text{float:none;margin-right:0;width:200px !important;padding:15px 25px;border:#9199bc 1px solid;border-radius:40px;}
.woocommerce-cart.woocommerce-page #content table.cart td.actions .coupon label{display: inline-block;}
.cart_totals h2{display:none;}
.cart_totals{text-align:right;}
.cart_totals .cart-subtotal{display:none !important;}
.cart_totals .order-total,.woocommerce-cart .order-total th,.order-total .woocommerce-Price-amount.amount{font-size:49px;font-weight:bold;color:#121f6d;}
.cart_totals table{margin:0 0 0 auto;}
.wc-proceed-to-checkout .checkout-button,#place_order{background:#db6a86;padding:30px 45px;border-radius:60px;text-decoration: none;color:#FFFFFF;border:none;max-width: 400px;margin: 30px 0 0 auto;}
.checkout-button::after{display:none;}
/*.woocommerce-form-coupon-toggle{display:none;}*/
.woocommerce-checkout .site-content-contain{margin-top:100px;}
.woocommerce-input-wrapper input,.woocommerce-checkout.woocommerce-page .select2-container .select2-selection--single,.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text{padding:10px 15px;border-radius:20px;border:#3a3a3a 1px solid;height:auto;}


.container{width:100% !important;}
.page-id-47 .site-content-contain{margin-top:100px;}
.page-id-47 .site-content-contain h3{font-size:43px;font-weight:400;color:#121f6d;margin-bottom:40px;}
.page-id-47 .form-group>label{width:28%;font-size:35px;color:#9199bc;font-weight:normal;}
.page-id-47 .form-group>input{display:inline-block;width:65%;padding:10px 15px;border-radius:20px;border:#3a3a3a 1px solid;font-size:20px;height:auto !important;}
.page-id-47 .form-group{width:100%;position:relative;}
.submit-block{margin-top:40px;}
.center{text-align:center;}
.submit-block a{display:block;margin-top:30px;}
.woocommerce form .woocommerce-form-row.form-row>label{width:28%;font-size:35px;color:#9199bc;font-weight:normal;display: inline-block;}
.woocommerce form .woocommerce-form-row.form-row>input{display:inline-block;width:65%;padding:10px 15px;border-radius:20px;border:#3a3a3a 1px solid;font-size:20px;height:auto !important;}
.woocommerce-account .site-content-contain{margin-top:100px;}
.woocommerce form .woocommerce-form-row.form-row>span{display:block;font-size:14px;}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{width:100%;float:none;}

.woocommerce-account .woocommerce-MyAccount-navigation li>a{padding:20px 30px;border-radius:30px;font-size:30px;background-color:#8088b8;color:#FFFFFF;box-shadow: none !important;}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active>a{background-color:#d2da27;}
.woocommerce-account .woocommerce-MyAccount-navigation li>a:hover{background-color:#d2da27;box-shadow: none !important;text-decoration: none;}
.woocommerce-account .woocommerce-MyAccount-navigation li:before{display:none;}
.woocommerce-account .woocommerce-MyAccount-navigation li{border-bottom:0;margin-bottom:15px;}
.woocommerce-account .woocommerce-MyAccount-navigation{border-top:0;float:left;}
.woocommerce-MyAccount-navigation>ul{padding:0;}
.nodec{text-decoration: none !important;}
.basket-btn,.btn-account a{color:#121f6d;text-decoration: none;font-size:20px;}
.btn-account{margin-left:15px;display:inline-block;}
.short-cart{display:inline-block;}
.added_to_cart.wc-forward{font-size:14px;}
div:focus,a:focus,button:focus{outline: none;}
.slick-prev:focus, .slick-next:focus,.slick-prev:hover, .slick-next:hover{opacity:1 !important;display:block;}
.text-soglasie{font-size:14px;margin-top:20px;}

#fast-order-name{font-size:18px;}
#fast-order-price{font-size:20px;}
.form-grp input[type=text]{padding:10px 20px;border-radius:20px;border:#3a3a3a 1px solid;}
#result{font-size:20px;padding:20px;}
.video-slide img{max-width:95%;}
.video-slide a{cursor:pointer;}
.page-template-default .site-content-contain{margin-top:100px;}
/*.added_to_cart.wc-forward{display:none !important;}*/
.contact-text-block,.contact-text-block a{color:#FFFFFF;text-decoration:none;font-size:32px;}
.contact-text-block .concat-phone{background:url(../images/contact-i-phone.png) no-repeat left top;background-size: 37px;min-height:37px;margin-bottom:20px;padding-left:60px;}
.contact-text-block .concat-address{background:url(../images/contact-i-map.png) no-repeat left top;background-size: 45px;min-height:77px;margin-bottom:20px;padding-left:60px;padding-top:15px;}
.contact-text-block .concat-email{background:url(../images/contact-i-mail.png) no-repeat left top;background-size: 44px;min-height:44px;margin-bottom:20px;padding-left:60px;}
.contact-text-block .concat-insta{background:url(../images/contact-i-insta.png) no-repeat left top;background-size: 45px;min-height:45px;padding-left:60px;}
.woocommerce-info{background-color:#7599cb !important;}
.footer .contact-address{color:#FFFFFF;padding-top:20px;}
.faq-group-block{margin-bottom:40px;float:left;clear:both;}
.faq-group-caption{border-bottom:1px dashed #121f6d;cursor:pointer;float:left;margin-bottom:10px;}
.faq-item{margin:30px 0;font-size:16px;clear:both;}
.faq-answer{font-weight:bold;padding-top:20px;display:none;float:left;clear:both;padding-bottom:20px;}
.faq-group-content.opened,.faq-answer.opened{display:block;}
.faq-question{border-bottom:1px dashed #8098c8;color:#8098c8;cursor:pointer;float:left;margin-top:15px;}
.faq-group-content{display:none;}
.faq-list{clear:both;}
#billing-city-list{height:250px;overflow-y: scroll;background:#fcfcfc;font-size:16px;position:absolute;top:30px;width:100%;z-index:1;}
#billing-city-list>div{padding:10px;cursor:pointer;}
#billing-city-list>div:hover{background-color: #d2da27;color:#FFFFFF;}
.woocommerce-input-wrapper{position:relative;}
.css-iaob1t {padding: 0px 42px 15px;}
.css-iaob1t .delivery-variants {margin-top: 15px;}
.css-1xuqurl * {box-sizing: border-box;outline: none;}
.css-iaob1t .delivery-variants > div::before {
  content: "";
  display: block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: 0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  border-image: initial;
  transition: all 250ms ease;
}
.css-iaob1t .delivery-variants > div {display: flex;cursor: pointer;padding: 10px 15px;}
.css-iaob1t .delivery-variants > div input {position: absolute;opacity: 0;}
.css-iaob1t .delivery-type-name {font-size: 15.24px;}
.css-iaob1t .delivery-variants > div .delivery-type-time {margin-top: 3px;font-size: 10.89px;color: rgb(182, 182, 182);}
.css-iaob1t .delivery-variants > div .delivery-type-price {margin-left: auto;font-weight: 900;font-size: 15.24px;}
.css-iaob1t .delivery-variants > div.selected {background: rgba(118, 180, 50, 0.05);}
.css-iaob1t .delivery-variants > div.selected::before {background-color: rgb(148, 180, 84);box-shadow: rgb(255, 255, 255) 0px 0px 0px 4px inset;border-color: rgb(148, 180, 84);}
#ship-to-different-address{display:none;}
#billing_postcode_field{display:none;}
#billing_address_1_field{display:none;}
.woocommerce-checkout-review-order-table .cart-subtotal{display:none;}
.social-login{width:300px;margin:30px auto;height:40px;overflow: hidden;}
#billing_address_1{background:transparent;border:none;}
.product-tab{display:none;}
.product-tab.active{display:block;}
.tab-link{cursor:pointer;}
.row.social-share{clear:both;padding-top:20px;}
.inline{display:inline-block;vertical-align:top;}
.row.social-share .inline{font-size:18px;}
.whatsapp-btn {position: fixed; right: 1%; bottom: 10%; width:150px; height: 150px;}
.woocommerce-cart-form__contents .coupon{display:none;}
.product-slider .woocommerce-product-gallery__image img{max-height:100%;}

/*.added_to_cart.wc-forward{display:none !important;}
.top-icon-block>div{display:none !important;}*/

@media screen and (max-width: 1919px){
  .container{max-width:100%;width:100%;padding-left:45px;padding-right:45px;}
  html,body{padding:0;margin:0;}
  .top-banner-button{margin-left:40px;}
  .bg-ping{height:720px;}
  .pingvin-text{font-size:26px;}
  .eig-item{font-size:27px;}
  .preim-item .image{height:144px;}
  .bg-preim .preim-block{margin-top:50px;}
  .green-med{bottom:-40px;}
  .review-text{font-size:17px;}
  .bg-reviews-block{padding-bottom:300px;}
  .bg-faq-block{background-position:250% top;}
  .insta-slide{padding:0 10px;}
  .insta-button img{max-width:100%;}
  .contact-text-block{padding-top:180px;}
  .main-video .video-slide img{max-width:100%;padding-left:10px;padding-right:10px;}
  .summary.entry-summary h1{font-size:42px;}
}

@media screen and (max-width: 1550px){
  .top-banner-text{font-size:30px;}
  .product-text-block .product-description{font-size:17px;}
  .pingvin-text{padding-top:75px;font-size:22px;}
  .preim-item .image{height:100px;}
  .preim-item{font-size:20px;}
  .review-text{font-size:15px;}
  .add-review-block{bottom:100px;}
  .bg-faq-block{background-position:300% top;}
  .bg-contact-block{padding-top:250px;padding-bottom:230px;background-size:cover;}
  .contact-trava{max-width:50%;}
  .contact-trava img{max-width:100%;}
  #top-menu>li>a,.footer-menu-item a{font-size:30px;}
  .footer-logo img{max-width:100%;}
  .contact-panda{right:10%;max-width:20%;}
  .contact-image-block{height:450px;}
  .contact-panda img{max-width:100%;}
  .contact-text-block{padding-top:100px;}
  .top-banner-button{font-size:40px;padding: 85px 5px 85px 80px;background-size:contain;}
  .eig-item{font-size:25px;}
  .product-caption{font-size:30px;}
  .product-text-block .product-description{margin-top:36px;margin-bottom:40px;}
  .product-text-block .product-price{font-size:35px;}
  .main-video .caption,.main-reviews .caption,.main-preim .caption,.main-insta .caption,.bg-contact-block .caption{font-size:53px;}
  .first-bg .caption{font-size:60px;}
  .top-video{height:450px;}
  .summary.entry-summary h1{font-size:40px;padding-bottom:30px;}
  .summary.entry-summary .price{font-size:40px;padding-top:30px;}
  .single-product .summary.entry-summary p.price{margin-bottom:1em;}
  .woocommerce-cart .shop_table.cart .product-name{width:25%;font-size:30px;}
  .woocommerce-Price-amount.amount{font-size:25px;}
}

@media screen and (max-width: 1550px) {
  .review-list.col-xs-8{width:80%;}
  .add-review-block a{font-size:30px;}
  .add-review-block{width:300px;bottom:140px;}
  .btn-green,.btn-dark-green{font-size:30px;}
  .bg-monkey{background-size:contain;}
  .bg-contact-block .caption{padding-bottom:105px;}
  .top-banner-text{font-size:25px;}
  .bg-ping{height:620px;}
  .eig-item{font-size:22px;}
  .preim-item .image{height:80px;}
  .preim-item{font-size:18px;}
  .green-med{bottom:0;}
  .main-reviews .review-list{margin-top:160px;}
  .bg-faq-block {background-position: 350% top;background-size: 80%;}
  .woocommerce-cart .woocommerce-cart-form .quantity input{width:70px;}
  .woocommerce-cart .woocommerce-cart-form .product-quantity .b-minus, .woocommerce-cart .woocommerce-cart-form .product-quantity .b-plus{width:18px;}
  .woocommerce-cart .woocommerce-cart-form .quantity input{font-size:25px;}
  .contact-text-block,.contact-text-block a{color:#FFFFFF;text-decoration:none;font-size:22px;}
  .contact-text-block .concat-phone{background-size: 27px;min-height:37px;margin-bottom:20px;padding-left:50px;margin-top:60px;}
  .contact-text-block .concat-address{background-size: 35px;min-height:37px;margin-bottom:20px;padding-left:50px;padding-top:10px;}
  .contact-text-block .concat-email{background-size: 34px;min-height:34px;margin-bottom:20px;padding-left:50px;}
  .contact-text-block .concat-insta{background-size: 35px;min-height:35px;padding-left:50px;}
}
@media screen and (max-width: 1330px) {
  .review-list.col-xs-8{width:100%;}
  .product-text-block{border-radius:15%;}
  .product-text-block .product-description{font-size:15px;}
  .btn.add-to-cart{font-size:25px;}
  .btn.goto{font-size:18px;}
  .pingvin-text {padding-top: 65px;font-size: 20px;}
  .btn-fast{font-size:32px;}
  ul.products li.product .button{font-size:30px;padding:20px 30px;border-radius: 40px;}
  #site-navigation{margin-top:-10px;}
}
@media screen and (max-width: 1200px) {
  #top-menu>li>a, .footer-menu-item a{font-size:25px;}
  .first-bg .caption{font-size:50px;}
  .top-banner-button {font-size: 25px;padding: 35px;}
  .product-caption{font-size:22px;}
  .product-text-block{padding-left:30px;padding-right:30px;}
  .pingvin-text{padding-left:45px;padding-right:45px;}
  .eig-item{font-size:16px;min-height:150px;}
  .eig-item.eig-small{font-size:16px;min-height:100px;}
  .eig-item:before{top:0;}
  .bg-preim{background-size:120%;}
  .preim-item{font-size:14px;}
  .bg-preim{padding-top:125px;}
  .bg-video-block:before{left:15%;}
  .main-reviews{padding-top:0;}
  .bg-reviews-block{padding-bottom:200px;}
  .add-review-block{bottom:80px;}
  .btn.btn-dark{padding: 20px 40px;border-radius: 40px;}
  .add-review-block a{font-size:20px;}
  .add-review-block{right:10%;}
  .bg-faq-block{padding-top:250px;}
  .bg-preim .preim-block{padding:0 30px;}
  .top-banner-text{font-size:20px;}
  .top-banner-sub-text{line-height: inherit;}
  .bg-ping{height:520px;}
  .pingvin-text{font-size:16px;}
  .faq-caption{width:50%;max-height:200px;background-size: contain;}
  .btn-green, .btn-dark-green{padding: 20px 35px;border-radius: 40px;font-size:20px;}
  .bg-monkey{margin-top:100px;}
  #top-menu>li>a, .footer-menu-item a{font-size:18px;}
  .first-bg{padding-bottom:150px;}
  .product-text-block{border-radius: 40px;padding:30px;}
  .product-text-block .product-description{font-size:14px;}
  .woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product{width:45% !important;}
  .catalog-title-img{width:50%;}
  .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{width:50%;margin-top:4em;}
  .summary.entry-summary h1{padding-left:5%;}
  .summary.entry-summary .btn-fast, .summary.entry-summary .add-to-cart{font-size:18px;}
  .woocommerce-tabs .tab-caption-item>a{font-size:18px;}
  .tab-caption-item{padding:10px;}
  .woocommerce-tabs.wc-tabs-wrapper{margin-top:30px;}
  .woocommerce-cart-form .product-name>a{font-size:25px;}
  .woocommerce-account .woocommerce-MyAccount-navigation{width:27%;}
  .woocommerce form .woocommerce-form-row.form-row>label{font-size:20px;}
  .btn-account{margin-left:5px;}
  .woocommerce-orders-table{font-size:18px;width:100%;}
  .woocommerce-orders-table tr{border-bottom:#8098c8 2px solid;}
  .woocommerce-orders-table td,.woocommerce-orders-table th{padding:8px 3px;}
}
.mobile{display:none;}
.overload{display:none;width:120%;height:120%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.5);z-index:11;}
@media screen and (max-width: 1000px) {
  html,body{overflow-x: hidden;}
  .product-text-block .product-description{font-size:12px;}
  .mobile{display:block;}
  .pc{display:none;}
  .navbar-toggle {background-color: #8098c8;position: absolute;z-index: 10;top: 5px;right: 5px;padding: 9px 10px;background-image: none;border: 1px solid transparent;border-radius: 4px;}
  .navbar-toggle .icon-bar {border: 1px solid #fff;background: #fff;display: block;width: 22px;height: 2px;border-radius: 1px;}
  #bs-example-navbar-collapse-1{display:none;width:60%;position:fixed;top:0;right:0;height:100vh;z-index:5;background:#FFFFFF;z-index:20;}
  #bs-example-navbar-collapse-1.opened{display:block;}
  #top-menu>li{float:right;width:100%;}
  .col-xs-6.top-video{width:100%;padding-right:15px;}
  .col-xs-6.top-banner-right{width:100%;padding-right:15px;text-align:center;padding-top:30px;}
  .top-banner-text{text-align: center;}
  .col-xs-6.top-banner-right>.col-xs-9{width:100%;text-align:right;}
  .top-banner-button{margin:40px auto;text-align:center;background-position:center top;}
  .main-product-list>.container>.row>.col-xs-7,.main-product-list>.container>.row>.col-xs-5{width:100%;}
  .product-slider .slick-track img{height:auto;}
  .bg-ping{height:320px;}
  .pingvin-text{width:60%;}
  .col-xs-6.eig-item{width:100%;min-height:10px;float:none;margin-bottom:30px;}
  .eig-item:before{top:0;}
  .bg-preim{background-size:cover;padding-top:15px;}
  .preim-item{width:49%;margin-bottom:30px;text-align: center;float:none;display:inline-block;}
  .preim-item .image{height:120px;}
  .preim-block{text-align: center;}
  .main-preim .caption,.bg-contact-block .caption{color:#07076b;}
  .green-med{width:30%;}
  .main-video .video-slide img{width:100%;height:auto;}
  .add-review-block{position:relative;margin:40px auto;right:auto;bottom:auto;text-align:center;}
  .insta-button{padding:20px 30px;border-radius:40px;}
  .bg-contact-block>.row>.col-md-6.col-xs-6{width:100%;float:none;}
  .contact-panda{width:30%;bottom:0;max-width:30%;}
  .soc-items img{max-width:50%;}
  .soc-items>div{width:100px;}
  .soc-items{width:210px;margin:20px auto;}
  .bg-footer-block>.row>.col-xs-4{width:100%;text-align:center;float:none;display:block;}
  .main-preim{margin-top:100px;}
  .bg-footer-block{padding-top:105px;}
  .woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product{width:95% !important;}
  .woocommerce ul.products, .woocommerce-page ul.products{padding-left:0;}
  .product .woocommerce-loop-product__title{font-size:18px;}
  .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{width:100% !important;float:none !important;}
  .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{width:100% !important;float:none !important;text-align:center;}
  .summary.entry-summary h1:after{left:10%;width:80%;}
  .summary.entry-summary h1{padding-left:0;}
  .summary.entry-summary .buttons-block{text-align:center;float:none;}
  .woocommerce-tabs.wc-tabs-wrapper{padding-left:0;padding-right:0;}
  .woocommerce-account .woocommerce-MyAccount-navigation{width:100%;float:none;text-align:center;}
  .woocommerce-account .woocommerce-MyAccount-navigation li{display:inline-block;width:auto;margin:10px;}
  .woocommerce-account .woocommerce-MyAccount-content{float:none;width:100%;}
  header .top-icon-block{width:18%;}
  header .top-menu-block{width:48%;}
  .video-slide img{max-width:100%;}
  .page-template-default .site-content-contain .entry-content p{font-size:16px;}
  .contact-text-block .concat-phone{;margin-top:0px;}
  .contact-text-block{padding-left:30px;}
}

@media screen and (max-width: 768px) {
  .first-bg .caption {font-size: 40px;}
  .pingvin-text{width:70%;}
  .bg-ping{height:250px;}
  .bg-video-block:before{left:5%;}
  .woocommerce-breadcrumb{font-size:14px !important;margin-top:30px;}
  .woocommerce-cart .shop_table.cart .product-name{width:100%;}
  .woocommerce #content table.cart td.actions .coupon .button.alt, .woocommerce #content table.cart td.actions .coupon .input-text+.button, .woocommerce table.cart td.actions .coupon .button.alt, .woocommerce table.cart td.actions .coupon .input-text+.button, .woocommerce-page #content table.cart td.actions .coupon .button.alt, .woocommerce-page #content table.cart td.actions .coupon .input-text+.button, .woocommerce-page table.cart td.actions .coupon .button.alt, .woocommerce-page table.cart td.actions .coupon .input-text+.button{float:none;display:none;}
  .whatsapp-btn {width: 100px; height: 100px;}
  .whatsapp-btn img {width: 100px;}
}
@media screen and (max-width: 500px) {
  .site-header{padding-top:15px;}
  .container{padding-left:15px;padding-right:15px;}
  .navbar-toggle{top:-10px;right:0;}
  .col-xs-4.top-logo{width:60%;}
  .site-header .col-xs-8.right{width:40%;}
  #bs-example-navbar-collapse-1{width:80%;}
  .first-bg .caption{font-size:20px;}
  .first-bg{padding-top:60px;padding-bottom:50px;}
  .top-banner-text{font-size:16px;}
  body .slick-prev,body .slick-next{width:17px;height:48px;}
  body .slick-prev{left:5px;}
  body .slick-next{right:5px;}
  .fast-click{margin-top:15px;}
  .btn-fast{font-size:20px;}
  .product-text-block{margin:30px 20px;}
  .btn.add-to-cart{font-size:16px;}
  .btn.goto{font-size:14px;}
  .pingvin-text{width:100%;position:relative;font-size:12px;padding:45px 15px 100px;}
  .bg-ping{height:300px;background-position:right bottom;}
  .col-xs-6.eig-item{margin-left:15px;}
  .main-video .caption, .main-reviews .caption, .main-preim .caption, .main-insta .caption, .bg-contact-block .caption{font-size:23px;}
  .preim-item{width:48%;}
  .green-med{width:50%;bottom:30px;}
  .bg-reviews-block{background-position:-200px top;background-size:300%;}
  .main-reviews .review-list{margin-top:100px;}
  .bg-faq-block{background:none;padding-top:50px;}
  .col-md-4.col-xs-4.bg-monkey{width:100%;margin-top:0px;margin-bottom:30px;display:none;}
  .col-md-8.col-xs-8.faq-content-block{width:100%;}
  .add-review-block{margin-top:60px;}
  .faq-caption{width:90%;}
  .btn-green, .btn-dark-green {padding: 20px 30px;border-radius: 20px;font-size: 14px;}
  .insta-button{width:90%;}
  .bg-contact-block{padding-top:0;}
  .contact-image-block{width:100%;padding:0;height:250px;}
  .footer-logo img{max-width:90%;margin:0 auto;}
  .top-banner-text{padding-left:0;}
  .catalog-title-img{width:80%;}
  .summary.entry-summary h1{font-size:30px;}
  .summary.entry-summary .btn-fast, .summary.entry-summary .add-to-cart{margin-bottom:10px;}
  #tab-description{margin-top:30px;}
  .woocommerce-tabs.wc-tabs-wrapper{font-size:16px;}
  .tab-caption-item{margin-bottom:18px;}
  .woocommerce-tabs.wc-tabs-wrapper .first-ab,.woocommerce-tabs.wc-tabs-wrapper h2{font-size:25px;}
  #product-video{padding:50px 0;}
  #tab-description{box-shadow: none;}
  .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{margin-top:2em;}
  .woocommerce-cart .woocommerce-cart-form .product-quantity .b-minus, .woocommerce-cart .woocommerce-cart-form .product-quantity .b-plus{width:10px;}
  .woocommerce-cart .woocommerce-cart-form .quantity input{width:50px;}
  .cart_totals .order-total, .woocommerce-cart .order-total th, .order-total .woocommerce-Price-amount.amount{font-size:30px;}
  .wc-proceed-to-checkout .checkout-button{font-size:20px;border-radius:40px;padding:20px 30px;}
  .woocommerce-cart .site-content-contain{margin-top:20px;}
  .woocommerce-checkout .site-content-contain{margin-top:20px;}
  .woocommerce-account .woocommerce-MyAccount-navigation li>a{font-size:18px;padding:10px 20px;border-radius:20px;}
  .woocommerce-account .woocommerce-MyAccount-navigation li{margin:5px;padding:5px 0;}
  .woocommerce-account .site-content-contain{margin-top:30px;}
  ul.products li.product .button, .btn-red{font-size:20px;padding:15px 30px;border-radius:40px;}
  .woocommerce-account .woocommerce-MyAccount-navigation li>a{font-size:14px;}
  .woocommerce form .woocommerce-form-row.form-row>label{font-size:14px;width:32%;}
  .woocommerce form .woocommerce-form-row.form-row>input{font-size:16px;width:60%;}
  header .top-menu-block{width:18%;float:right;}
  .col-xs-6.top-video{padding-right:0;}
  .whatsapp-btn {width: 75px; height: 75px;}
  .whatsapp-btn img {width: 75px;}
  .page-id-47 .form-group>input{width:100% !important;}
  #wpmpRegisterSection>.row>.col-xs-8.col-md-10{width:100% !important;}
  .page-id-47 .form-group>label{width:100% !important;}
}
@media screen and (max-width: 320px) {
  .pingvin-text {font-size: 11px;padding-top:35px;}
  .main-video{padding-top:30px;}
  .bg-video-block:before{left:-5px;}
  .green-med{bottom:80px;}
  .main-reviews .review-list{padding-left:0;padding-right:0;margin-top:50px;}
  .bg-reviews-block{padding-bottom:10px;}
  .faq-caption{margin-bottom:20px;}
  .insta-list{margin-top:30px;}
  .btn-green, .btn-dark-green{padding:20px;}
  .bg-contact-block .caption{padding-bottom:30px;}
  .woocommerce-account .woocommerce-MyAccount-navigation li>a{font-size:14px;}
}


