@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}


@import "fonts";

header {
  width: 100%;
  background: #000;
  color: #fff;
  display: flex;
  font-size: 20px;
  background: url(../img/woman-wearing-pink-collared-half-sleeved-top-1036623-removebg-preview.png);
  @media (max-width: 767px) {
    font-size: 12px;
  }
}

footer {
  font-size: 20px;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}